doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    script(src='/ajs/angular.min.js')
    script(src='/jqjs/jquery.min.js')
    script(src='/pjs/popper.min.js')
    script(src='/bjs/bootstrap.min.js')