doctype html
html
  head
    title= title
    script(src='/ajs/angular.min.js')
    script(src='/bjs/bootstrap.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content