extends layout

block content

    div(class='container-fluid', ng-app)
            
          div(class='alert alert-primary', role='alert') Simple Bootstrap alert

          p test {{'NG-APP ' + 'WORK!!!'}}

          h1= title          

          script.
            var persons = [{fioname:"123"},{fioname:"456"},{fioname:"789"}];

          table(border='0', cellspacing='0', cellpadding='0', width='100%')
              tr(bgcolor='#AFC7BF')
                th ФИО
                th Должность
                th № тел.
                th № трубки
                th № Мобильного
                th E-mail
              tr(ng-repeat="person in persons")
                td {{person.fioname}}
                td {{person.jobname}}
                td {{person.workphone}}
                td {{person.dect}}
                td {{person.mobile}}
                td 
                    a(href='mailto:{{person.email}}') {{person.email}}
                

                button(type='button',class='btn btn-primary',data-toggle='modal',data-target='#exampleModal') Launch demo modal
                div(class="modal fade", id="exampleModal", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
                  div(class="modal-dialog", role="document")
                    div(class="modal-content")
                      div(class="modal-header")
                        h5(class="modal-title",id="exampleModalLabel") Modal title
                        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                          <span aria-hidden="true">&times;</span>
                      div(class="modal-body") MODAL BODY HERE
                      div(class="modal-footer")
                        button(type="button", class="btn btn-secondary", data-dismiss="modal") Close
                        button(type="button", class="btn btn-primary") Save changes