extends layout

block content

    div(ng-app)
          p test {{'NG-APP ' + 'WORK!!!'}}

          h1= title

          table(border='0', cellspacing='0', cellpadding='0', width='100%')
              tr(bgcolor='#AFC7BF')
                th ФИО
                th Должность
                th № тел.
                th № трубки
                th № Мобильного
                th E-mail
              tr
                td Фамилия Имя Отчество
                td Должность
                td 1111
                td 602
                td х(ххх)ххх-хх-хх
                td 
                    a(href='mailto:1csp@pkpp.ru') email@email.ru
                td nophoto.jpg
